/*------------------------------------*\
  #GENERAL
\*------------------------------------*/

body {
    background-color: #83B692;
    color: #fff;
    height: 100%;
    font-family: 'Concert One', cursive;
    overflow: hidden;
}

.content--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}

/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.header--wrapper {
    background: #5B3758;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    border-bottom: 1px solid rgba(255,255,255,.5);
}

.website--title {
    text-shadow: 1px 1px #000;
    font-size: 1.5em;
    text-transform: uppercase;
}

.fa-shopping-cart {
    margin: 1px 0 0 20px;
}

/*------------------------------------*\
  #LOGIN-PANEL
\*------------------------------------*/

.login--panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 70vw;
    max-width: 400px;
    height: 30vh;
    border: 2px solid #fff;
    border-radius: 20px;
    background: #F9ADA0;
}

.login--panel__description {
    width: 80%;
    height: 45px;
    line-height: 1.1em;
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 15px;
    text-shadow: 1px 1px #000;
}

.credentials--input {
    width: 80%;
    min-width: 120px;
    height: 15%;
    box-sizing: border-box;
    padding-left: 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    margin: -10px 0;
}

.credentials--input::placeholder {
    color: #000;
}

.btn-box{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn {
    margin-top: 15px;
    padding: 5px;
    width: 45%;
    min-width: 45px;
    border: none;
    border-radius: 8px;
    color: inherit;
    outline: none;
    cursor: pointer;
    text-shadow: 1px 1px #000;
}

.reset--btn {
    background: rgba(255,0,0,0.7);
}

.login--btn {
    background: rgba(0,255,0,.6);
}

.reset--btn:hover {
    background: rgba(255,0,0,1);
    box-shadow: 1px 1px 5px #000;
}

.login--btn:hover {
    background: rgba(0,255,0,1);
    box-shadow: 1px 1px 5px #000;
}

/*------------------------------------*\
  #SHOPPING-LIST-PANEL
\*------------------------------------*/
.shopping--list--panel {
    display: none;
    flex-direction: column;
    position: relative;
    left: 100%;
    border: 1px solid #fff;
    width: 80vw;
    max-width: 600px;
    padding: 10px 0;
    background: #F9ADA0;
}

.shopping--list--description {
    text-shadow: 1px 1px #000;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.shopping--item {
    position: relative;
    text-shadow: 1px 1px #000;
    padding: 15px 0 15px 20px;
    background: #F9627D;
    border-top: 1px solid #000;
    cursor: pointer;
}

.x-btn {
    visibility: hidden;
    text-shadow: 1px 1px 5px #000;
    color: red;
    position: absolute;
    right: 5%;
    top: 15%;
    cursor: pointer;
}

.x-btn.visible {
    visibility: visible;
}

.shopping--item.active {
    background-color: #C74E64;      /*changing color on click*/
}

.shopping--item:hover {
    background-color: #C74E64;
}

.shopping--item:last-child {
    border-bottom: 1px solid #000;
}

.newItem--box {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.plus--btn {
    background: transparent;
    margin-top: 10px;
    align-self: center;
    position: relative;
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, .3);
    border-radius: 40px;
}

.plus--btn:hover {
    border: 5px solid rgba(0,255,0,.3);
    background: green;
}

.plus--btn::after, .plus--btn::before {
    content: '';
    position: absolute;
    top: 45%;
    left: 13%;
    height: 5px;
    width: 30px;
    background: rgba(255, 255, 255, 1);
    border-radius: 20px;
}

.plus--btn::after {
    transform: rotate(90deg);
}

.newItem {
    align-self: center;
    padding: 10px 0 10px 15px;
    width: 70%;
    max-width: 300px;
    min-width: 120px;
    height: 15%;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 4px;
    margin: 20px 0 10px 15px;
}

.newItem:focus {
    box-shadow: 1px 1px 5px #000;
    background: rgba(0,255,0,.5);
}

.newItem:focus::placeholder {
    color: #000;
}

.error-message {
    color: #000;
    margin: 10px 5px 0 5px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}


/*------------------------------------*\
  #FOOTER
\*------------------------------------*/
.footer--wrapper {
    text-shadow: 1px 1px #000;
    background: #C65B7C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    border-top: 1px solid rgba(255,255,255,.5);
}

@media (min-width: 1024px) {
    .shopping--list--panel {
        margin-left: auto;
    }
}